* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #535257;
  overflow-y: hidden;
}
.button {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: .5em 0;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #5dc6f5;
}
.button i {
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 1em;
  line-height: 1.4em;
}
.vertical-word-separator {
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  margin: 1.2em 0;
  /*font-size: 0.9em;*/
}
.vertical-word-separator p:after {
  position: absolute;
  content: '|';
  margin-top: -1em;
  margin-left: -0.9em;
}
.vertical-word-separator p:before {
  position: absolute;
  content: '|';
  margin-top: 1em;
  margin-left: 0.8em;
}
.horizontal-word-separator {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.2);
  height: 1px;
  line-height: 1px;
  margin: 1.5em 0;
  color: rgba(0, 0, 0, 0.2);
}
.horizontal-word-separator p {
  display: inline;
  background: #ffffff;
  padding: 0 .2em;
}
.menu {
  /*border: 1px solid red;*/
  float: left;
  width: 20em;
  height: 100%;
  /*box-shadow: inset 0 0 7px rgba(0,0,0,0.5);*/
  padding: 1em;
  overflow-x: auto;
}
.menu input[type='text'] {
  width: 23em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: .7em 2.5em .7em .7em;
  margin-right: -2.2em;
}
.menu form a {
  text-decoration: none;
  color: #5dc6f5;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  position: relative;
  margin: .3em 0;
  padding: .5em 0;
  cursor: pointer;
}
.menu ul li b {
  background: #5dc6f5;
  color: #ffffff;
  padding: 0.1em .5em;
  margin-right: 1em;
  font-size: .8em;
  display: inline;
  display: none;
  /*font-style: normal;*/
}
.menu ul li p {
  display: inline;
}
.menu ul li a {
  text-decoration: none;
  position: absolute;
  right: 1em;
  color: rgba(0, 0, 0, 0.2);
  line-height: 1.4em;
}
.menu ul .active {
  background: #5dc6f5;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: -1.3em;
  padding-left: 1.3em;
}
.main {
  /*border: 1px solid green;*/
  position: relative;
  margin-left: 22.1em;
  padding: 0 .9em;
  height: 100%;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
.main ul {
  margin-bottom: 1em;
}
.main ul li {
  list-style: square;
  margin-top: 1em;
  margin-left: 3em;
}
.main code {
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.3em;
}
.main #message-list,
.main #message-list-bot {
  overflow: auto;
  /*border: 1px solid red;*/
  height: 90%;
}
.main #message-list .message,
.main #message-list-bot .message,
.main #message-list .message-bot,
.main #message-list-bot .message-bot {
  position: relative;
  display: block;
  margin: 3em 0;
}
.main #message-list .message .attach,
.main #message-list-bot .message .attach,
.main #message-list .message-bot .attach,
.main #message-list-bot .message-bot .attach {
  border-left: 1px solid #5dc6f5;
  margin-left: 5em;
  padding-left: 1em;
  margin-top: 1em;
}
.main #message-list .message .attach a,
.main #message-list-bot .message .attach a,
.main #message-list .message-bot .attach a,
.main #message-list-bot .message-bot .attach a {
  background: #ffffff;
  margin-left: -1.1em;
  text-decoration: none;
  color: #5dc6f5;
  border-bottom: 1px solid #5dc6f5;
}
.main #message-list .message .attach h3,
.main #message-list-bot .message .attach h3,
.main #message-list .message-bot .attach h3,
.main #message-list-bot .message-bot .attach h3 {
  margin: 0 0 0.5em 0;
}
.main #message-list .message .attach article,
.main #message-list-bot .message .attach article,
.main #message-list .message-bot .attach article,
.main #message-list-bot .message-bot .attach article {
  font-weight: 300;
}
.main #message-list .message .avatar,
.main #message-list-bot .message .avatar,
.main #message-list .message-bot .avatar,
.main #message-list-bot .message-bot .avatar {
  width: 3em;
  height: 100%;
  float: left;
  margin-right: 1em;
}
.main #message-list .message .avatar img,
.main #message-list-bot .message .avatar img,
.main #message-list .message-bot .avatar img,
.main #message-list-bot .message-bot .avatar img {
  width: 100%;
}
.main #message-list .message .content,
.main #message-list-bot .message .content,
.main #message-list .message-bot .content,
.main #message-list-bot .message-bot .content {
  min-height: 3em;
  /*border: 1px solid @color-light-grey;*/
}
.main #message-list .message .meta,
.main #message-list-bot .message .meta,
.main #message-list .message-bot .meta,
.main #message-list-bot .message-bot .meta {
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}
.main .message-bot {
  margin: 0  !important;
}
.main .message-bot .content {
  min-height: 0;
}
.main .message-bot .meta {
  margin-bottom: 2em;
}
.main .input-message {
  position: relative;
  /*border: 1px solid green;*/
  bottom: 0;
  width: 100%;
  height: 9%;
}
.main .input-message section {
  position: absolute;
  height: 100%;
  /*display: inline-block;*/
}
.main .input-message .sec-avatar {
  width: 3em;
}
.main .input-message .sec-avatar img {
  width: 100%;
}
.main .input-message .sec-input {
  left: 3em;
  right: 5em;
}
.main .input-message .sec-input textarea {
  width: 100%;
}
.main .input-message .sec-button {
  width: 5em;
  right: 0;
}
.modal-win {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -9999;
}
.modal-win:target {
  opacity: 1;
  z-index: 9999;
}
.modal-win .win {
  width: 30em;
  height: 10em;
  background: #ffffff;
  margin: 0 auto;
}
.modal-win .win header {
  background: #f2f2f5;
  color: #535257;
}
.modal-win .win header h1 {
  display: inline;
}
.modal-win .win header a {
  float: right;
  /*background: @color-main-blue;*/
  /*border-radius: .2em;*/
  /*padding: .2em .4em;*/
  text-decoration: none;
  color: inherit;
}
.overview {
  text-align: center;
}
.overview .login-form {
  /*position: absolute;*/
  display: inline-block;
  margin-top: 10%;
  /*margin-left: 38%;*/
}
.overview .login-form input {
  width: 23em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: .7em 2.5em .7em .7em;
  margin: .2em 0;
}
.overview .login-form button {
  width: 11em;
  height: 3em;
  background: #5dc6f5;
  border: rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
.overview .login-form header {
  text-align: center;
  margin-bottom: 1em;
}
.overview .about-project {
  margin-top: 3em;
}
.overview .about-project a {
  color: #5dc6f5;
}
.overview i {
  margin-top: 1em;
}
/*.about-project {
	position: absolute;
	display: inline-block;
	margin-top: 30%;
	margin-left: 38%;
}*/
