@color-light-grey: rgba(0, 0, 0, 0.2);
@color-background: #fff;
@color-main-blue: #5DC6F5;

* {margin: 0; padding: 0;}

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: #535257;
	overflow-y: hidden;
}

.button {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: .5em 0;
	text-align: center;
	text-decoration: none;
	color: @color-background;
	border: 1px solid @color-light-grey;
	background: @color-main-blue;
	i {
		color: @color-light-grey;
		position: absolute;
		right: 1em;
		line-height: 1.4em;
	}
}

.vertical-word-separator {
	width: 100%;
	text-align: center;
	color: @color-light-grey;
	margin: 1.2em 0;
	/*font-size: 0.9em;*/
	p {
		&:after {
			position: absolute;
			content: '|';
			margin-top: -1em;
			margin-left: -0.9em;
		}
		&:before {
			position: absolute;
			content: '|';
			margin-top: 1em;
			margin-left: 0.8em;
		}
	}
}

.horizontal-word-separator {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	background: @color-light-grey;
	height: 1px;
	line-height: 1px;
	margin: 1.5em 0;
	color: @color-light-grey;
	p {
		display: inline;
		background: @color-background;
		padding: 0 .2em;
	}
}

.menu {
	/*border: 1px solid red;*/
	float: left;
	width: 20em;
	height: 100%;
	/*box-shadow: inset 0 0 7px rgba(0,0,0,0.5);*/
	padding: 1em;
	overflow-x: auto;
	input[type='text'] {
		width: 23em;
		border: 1px solid @color-light-grey;
		padding: .7em 2.5em .7em .7em;
		margin-right: -2.2em;
	}
	form a {
		text-decoration: none;
		color: @color-main-blue;
	}
	ul {
		list-style: none;
		li {
			position: relative;
			margin: .3em 0;
			padding: .5em 0;
			cursor: pointer;
			b {
				background: @color-main-blue;
				color: @color-background;
				padding: 0.1em .5em;
				margin-right: 1em;
				font-size: .8em;
				display: inline;
				display: none;
				/*font-style: normal;*/
			}
			p {
				display: inline;
			}
			a {
				text-decoration: none;
				position: absolute;
				right: 1em;
				color: @color-light-grey;
				line-height: 1.4em;
			}
		}
		.active {
			background: @color-main-blue;
			color: @color-background;
			border: 1px solid @color-light-grey;
			margin-left: -1.3em;
			padding-left: 1.3em;
		}
	}
}

.main {
	/*border: 1px solid green;*/
	position: relative;
	margin-left: 22.1em;
	padding: 0 .9em;
	height: 100%;
	box-shadow: 0 0 .5em rgba(0,0,0,0.5);
	ul {
		margin-bottom: 1em;
		li {
			list-style: square;
			margin-top: 1em;
			margin-left: 3em;
		}
	}
	code {
		overflow: auto;
		border: 1px solid @color-light-grey;
		padding: 0.3em;
	}
	#message-list, #message-list-bot {
		overflow: auto;
		/*border: 1px solid red;*/
		height: 90%;
		.message, .message-bot {
			position: relative;
			display: block;
			margin: 3em 0;
			.attach {
				border-left: 1px solid @color-main-blue;
				margin-left: 5em;
				padding-left: 1em;
				margin-top: 1em;
				a {
					background: @color-background;
					margin-left: -1.1em;
					text-decoration: none;
					color: @color-main-blue;
					border-bottom: 1px solid @color-main-blue;
				}
				h3 {
					margin: 0 0 0.5em 0;
				}
				article {
					font-weight: 300;
				}
			}
			.avatar {
				width: 3em;
				height: 100%;
				float: left;
				margin-right: 1em;
				img {
					width: 100%;
				}
			}
			.content {
				min-height: 3em;
				/*border: 1px solid @color-light-grey;*/
			}
			.meta {
				text-align: center;
				color: @color-light-grey;
			}
		}
	}
	.message-bot {
		margin: 0  !important;
		.content {
			min-height: 0;
		}
		.meta {
			margin-bottom: 2em;
		}
	}
	.input-message {
		position: relative;
		/*border: 1px solid green;*/
		bottom: 0;
		width: 100%;
		height: 9%;
		section {
			position: absolute;
			height: 100%;
			/*display: inline-block;*/
		}
		.sec-avatar {
			width: 3em;
			img {
				width: 100%;
			}
		}
		.sec-input {
			left: 3em;
			right: 5em;
			textarea {
				width: 100%;
			}
		}
		.sec-button {
			width: 5em;
			right: 0;
		}
	}
}

.modal-win {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: -9999;
	&:target {
		opacity: 1;
		z-index: 9999;
	}
	.win {
		width: 30em;
		height: 10em;
		background: @color-background;
		margin: 0 auto;
		header {
			background: #f2f2f5;
			color: #535257;
			h1 {
				display: inline;
			}
			a {
				float: right;
				/*background: @color-main-blue;*/
				/*border-radius: .2em;*/
				/*padding: .2em .4em;*/
				text-decoration: none;
				color: inherit;
			}
		}
	}
}
.overview {
	text-align: center;
	.login-form {
		/*position: absolute;*/
		display: inline-block;
		margin-top: 10%;
		/*margin-left: 38%;*/
		input {
			width: 23em;
			border: 1px solid @color-light-grey;
			padding: .7em 2.5em .7em .7em;
			margin: .2em 0;
		}
		button {
			width: 11em;
			height: 3em;
			background: @color-main-blue;
			border: @color-light-grey;
			color: @color-background;
		}
		header {
			text-align: center;
			margin-bottom: 1em;
		}
	}
	.about-project {
		margin-top: 3em;	
		a {
			color: @color-main-blue;
		}
	}

	i {
		margin-top: 1em;
	}
}

/*.about-project {
	position: absolute;
	display: inline-block;
	margin-top: 30%;
	margin-left: 38%;
}*/