<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% end %}channelChat</title>
    <!-- <link rel="stylesheet/less" type="text/css" href="static/css/style.less"/> -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"> 
    <link rel="stylesheet" href="static/css/highlighter.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script> -->
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script src="static/js/socket.io.js"></script>
    <script src="static/js/script.js"></script>
</head>
<body>
{% block content %}{% end %}
{% if 'flash' in globals() %}
    <h2>{{ flash }}</h2>
{% end %}

</body>
</html>