{% extends "base_.html" %}
{% block content %}
<aside class="menu">
	<header>
		<form id="search-from" action="/channel/search" method="POST">
			<input type="text" name="name" placeholder="найти канал по названию и присоединиться">
			<a href="javascript:void(0)" class="fa fa-search" onclick="$('#search-from').submit()"></a>
		</form>
		<div class="vertical-word-separator"><p>или</p></div>
		<a href="#channel-create" class="button">создать канал <i class="fa fa-plus"></i></a>
	</header>
	<section id="channels">
		<div class="horizontal-word-separator"><p>Список каналов</p></div>
		<ul id="channel-list">
		{% for channel in channels %}
			<li id="channel{{ channel }}"><b>0</b><p>{{ channel }}</p><a href="javascript:void(0)" class="fa fa-trash-o"></a></li>
		{% end %}
		</ul>
	</section>
	<section id="bot">
		<div class="horizontal-word-separator"><p>Любящий бот</p></div>
		<ul>
			<li id="channelChatBot">channelChat<a href="javascript:void(0)" class="fa fa-heart"></a></li>
		</ul>
	</section>
</aside>

<section class="main">
	<section id="message-list">
		
	</section>
	<section class="input-message">
		<section class="sec-avatar"><img src="{{ avatar }}" alt="avatar"></section>
		<section class="sec-input">
			<textarea id="mess"></textarea><br>
		</section>
		<section class="sec-button"><a href="javascript:void(0)" id="submit-mess" class="button">SUBM</a></section>
	</section>
</section>





<!-- MODAL WINS -->
<section id="channel-create" class="modal-win">
	<section class="win">
		<header>
			<h1>header</h1>
			<a href="#">x</a>
		</header>
		<p>Введите название канала</p>
		<form action="/channel/add" method="POST">
			<input name="name" type="text">
			<input type="submit">
		</form>
	</section>
</section>

<script>
    $(function() {
        var sock = new io.connect('http://' + window.location.hostname + ':8002', {
            rememberTransport: false
        });
        var messageId = 0;
        var botCommands = ['eval', 'sq']

        sock.on('connect', function () {
            sock.emit('addToOnline', {'auth_key': getCookie('auth')})
        });

        sock.on('message', function (data) {
            if (sessionStorage['currentChannel'] == data['to_channel']) {
	        	$('#message-list').append('<section id="message' + messageId + '" class="message"><section class="avatar"><img src="' + data['avatar'] + '" alt="' + data['public_login'] + '"></section><article class="content"><p>' + data['content'] + '</p></article><section class="meta"><i>' + data['public_login'] + ' / </i><i>' + data['datetime'] + '</i></section></section>')
	        	for (var i = data.attach_list.length - 1; i >= 0; i--) {
	        		console.log(data.attach_list[i]['title'])
	        		$('<div class="attach"><a href="' + data.attach_list[i]['url'] + '" target="_blank">' + data.attach_list[i]['url'] + '</a><header><h3>' + data.attach_list[i]['title'] + '</h3></header><article>' + data.attach_list[i]['desc'] + '</article></div>').insertAfter('#message' + messageId + ' > .content > p')
	        	};
	        	scrollToBottom('message-list')
	        	messageId++
	        	localStorage[data['to_channel'] + 'Last'] = data['datetime']
            } else {
            	$('#channel' + data['to_channel'] + ' > b').text(parseInt($('#channel' + data['to_channel'] + ' > b').text()) + 1)
            	$('#channel' + data['to_channel'] + ' > b').show()
            }
            
        });

        $('#submit-mess').click(function () {
        	if (sessionStorage['currentChannel']) {
        		if (sessionStorage['currentChannel'] == 'bot') {
        			if ($('#mess').val().split('::')[0] == 'eval') {
        				$('#message-list').append('<section class="message-bot"><section class="avatar"><</section><article class="content"><p>' + highlight($('#mess').val()) + '</p></article></section>')
        				command = $('#mess').val().split('::')
        				command.shift()
        				r = eval(command.join(' '))
        				$('#message-list').append('<section class="message-bot"><section class="avatar">></section><article class="content"><p>' + r + '</p></article><section class="meta"><i>' + '111' + ' / </i><i>' + '111' + '</i></section></section>')
        				// $('#message-list').append(r)
        				scrollToBottom('message-list')
        			} else if ($('#mess').val().split('::')[0] == 'sq') {
        				$('#message-list').append('<section class="message-bot"><section class="avatar"><</section><article class="content"><p>' + highlight($('#mess').val()) + '</p></article></section>')
        				q = $('#mess').val().split('::')
        				q.shift()
        				window.open('https://duckduckgo.com?q=' + q)
        				$('#message-list').append('<section class="message-bot"><section class="avatar">></section><article class="content"><p>' + 'opened window' + '</p></article><section class="meta"><i>' + '111' + ' / </i><i>' + '111' + '</i></section></section>')
        				scrollToBottom('message-list')
        			} else {
        				$('#message-list').append('<section class="message-bot"><section class="avatar"><</section><article class="content"><p>' + highlight($('#mess').val()) + '</p></article></section>')
        				$('#message-list').append('<section class="message-bot"><article><p>Хотелось бы напомнить что я понимаю всего две команды: </p><ul><li><code>eval::</code> - отдать на интерпретацию javascript\'у и вывести результат</li><li><code>sq::</code> искать в duckduckgo</li></ul><p>например, <code>eval::1+1</code> вернет <code>2</code></p></article></section><br>')
        			}
        		} else {
		        	sock.json.send({
		        		'auth_key': getCookie('auth'),
		        		'message': $('#mess').val(),
		        		'to_channel': sessionStorage['currentChannel']
		        	})
                    $('#mess').val('')
		        }
	        } else {
	        	alert('Перед отправкой сообщения стоит определиться с каналом')
	        }
        })

        $('#channel-list li').click(function () {
        	$('li.active').removeClass('active')
        	$('#message-list').empty()
        	$(this).addClass('active')
        	$('li.active > b').hide()
        	$('li.active > b').text('0')

        	sessionStorage['currentChannel'] = $('li.active > p').text()
        	sock.emit('returnHistory', {
        		'auth_key': getCookie('auth'),
        		'last_message': localStorage[$('li.active > p').text() + 'Last'],
        		'channel_name': $('li.active > p').text()
        	}, function (data) {
        		if (data.length > 0) {
                    $('#message-list').append('<div class="horizontal-word-separator"><p>Новые сообщения</p></div>')
            		for (var i = data.length - 1; i >= 0; i--) {
            			$('#message-list').append('<section id="message' + messageId + '" class="message"><section class="avatar"><img src="' + data[i]['avatar'] + '" alt="' + data[i]['public_login'] + '"></section><article class="content"><p>' + data[i]['content'] + '</p></article><section class="meta"><i>' + data[i]['public_login'] + ' / </i><i>' + data[i]['datetime'] + '</i></section></section>')
    		        	for (var j = data[i]['attach_list'].length - 1; j >= 0; j--) {
    		        		$('<div class="attach"><a href="' + data[i]['attach_list'][j]['url'] + '" target="_blank">' + data[i]['attach_list'][j]['url'] + '</a><header><h3>' + data[i]['attach_list'][j]['title'] + '</h3></header><article>' +data[i]['attach_list'][j]['desc'] + '</article></div>').insertAfter('#message' + messageId + ' > .content > p')
    		        	};
            			messageId++
            		};
                } else {
                }
        	})
        })

        $('#channel-list a').click(function () {
        	$(this).parent().remove()
        	sock.emit('remChannel', {
        		'auth_key': getCookie('auth'),
        		'channel_name': $(this).parent().attr('id').slice(7)
        	})
        	if (sessionStorage['currentChannel'] == $(this).parent().text()) {
        		sessionStorage['currentChannel'] = undefined
        	}
        })
        $('#channelChatBot').click(function () {
        	$('li.active').removeClass('active')
        	$('#message-list').empty()
			$('#message-list').append('<section class="message"><article><p>Привет, я твой верный бот channelChat. Со мной не выйдет поговорить по душам, но я могу быть тебе полезен: </p><ul><li>напиши вначале сообщения <code>eval::</code> и я выведу результат исполнения в javascript консоле всего, что будет написано после</li><li>напиши вначале сообщения <code>sq::</code> и я выведу результат поиска в duckduckgo всего, что будет написано после</li></ul></article></section>')
        	$(this).addClass('active')
        	sessionStorage['currentChannel'] = 'bot'
        })

        $('#search-from').submit(function () {
        	sock.emit('joinToChannel', {
        		'auth_key': getCookie('auth'),
        		'name': $('#search-from input').val()
        	})
        	return false
        })

    });
</script>
{% end %}