{% extends "base_.html" %}
        {% block content %}
        <section class="overview">
            <section class="login-form">
                <header><h2>channelChat</h2></header>
                <form id="form" action="" method="post">
                    <input type="text" id="public_login" name="public_login" placeholder="публичный логин (виден всем)"><br>
                    <input type="text" id="private_login" name="private_login" placeholder="приватный логин (используется для авторизации)"><br>
                    <input type="password" name="password" placeholder="пароль"><br>
                    <button id="login">войти</button> - или - <button id="register">зарегестрироваться</button>
                </form>
            </section>
            <section class="about-project">
                <i class="fa fa-bitbucket"> Описание проекта: </i> <a href="https://bitbucket.org/Eraser-str/slack.com-for-prom.ua/overview">https://bitbucket.org/Eraser-str/slack.com-for-prom.ua/overview</a> <br>
                <i class="fa fa-bitbucket"> Код проекта: </i> <a href="https://bitbucket.org/Eraser-str/slack.com-for-prom.ua/src">https://bitbucket.org/Eraser-str/slack.com-for-prom.ua/src</a>
            </section>
        </section>

        <script>
            $('#login').on('click', function() {
                $('#form').attr('action', '/user/login').submit();
            });
            $('#register').on('click', function() {
                $('#form').attr('action', '/user/add').submit();
            });
        </script>
        {% end %}